.popup__close {
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-color: transparent;
   background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    align-self: flex-end;
	box-sizing: border-box;
}

.popup__close:hover {
	opacity: 0.8;
}

@media screen and (max-width: 700px) {
	.popup__close {
		min-width: 20px;
		min-height: 20px;
		right: 0;
	}
}

